<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="out1">
        <h1>Weather Forecast</h1>
    <h2>{{ data['name'] }}, {{ data['sys']['country'] }}</h2>
    <p>Weather: {{ data['weather'][0]['description'] }}</p>
    <p>Temperature: {{ data['main']['temp'] }} K</p>
    <p>Humidity: {{ data['main']['humidity'] }}%</p>
    <p>Wind Speed: {{ data['wind']['speed'] }} m/s</p>
    </div>
    
</body>
</html>
